<nav class="navbar navbar-expand-lg navbar-light nav-own">  
      <div>
        <a class="navbar-brand" href="#">          
          <img src="./assets/camera-reels-fill.svg" width="35" height="35" style="align-self: center;" ><span style="text-align: center   ;">&nbsp;HD</span>
         </a>   
      </div>
      <div class="navbar-header">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    </div>
         <div class="navbar-collapse collapse-active justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-pills " >
             <a class="breadcrumb-item text-white" routerLinkActive="active" routerLink="introduction">Home</a>
             <a class="breadcrumb-item text-white" routerLinkActive="active" routerLink="live-events">Live-Events</a>
             <a class="breadcrumb-item text-white" routerLinkActive="active" routerLink="Video-List">Old-Events</a>
             <a class="breadcrumb-item text-white" routerLinkActive="active" routerLink="enquiry">Contact-Us</a>
           </div>
         </div>
       </nav>
