<div class="container-fluid body row">        
            <div class="col-md-8">
                <div class="introbody">
                    <h2 class="card-title">Intro</h2>
                    <p class="p1">We are glad introduce our services. We are professional brodcaster offering this service from past decades. </p>
                    <p class="p2">We are very keen to  offer quality service. we are expertize in present technologies like compresion methods and bandwidth techologies.</p>
                    <p class="p2">We are using very fine branded equipments to get better quality.</p>
                </div>
            </div>         

    <div class="col-md-4">
        <div class="row">
            <div class="card col brandlogo">
                <img src="assets/camera-reels.svg" alt="Brand Logo">
            </div>
            <div class="col hdtext">
                <span>HD</span>
            </div> 
        </div>
    </div>
</div>