    
    <div class="container-fluid body" >
        <div class="row">              
          <div class="col-md-8">          
                <div class="player-container">                    
                    <iframe class="embd-responsive iframe" src="https://www.youtube-nocookie.com/embed/8Bk9HcG8EcE?modestbranding=1" title="LivePlayer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>            
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="phote card shadow p-3 mb-5 bg-white rounded" >
                    <img src="assets/NaveenKUmar.jpeg" class="img-fluid" alt="Marriage Phote">
                    <div>
                      <h1 class="names">Akhila</h1>
                      <h3 class="names" style="text-align: center;">weds</h3>
                      <h1 class="names" style="text-align:right ">Naveen Kumar</h1>
                    </div>
                   <!-- <p>Muhurtham:</p> -->
                   <!-- <p style="text-align: center;">on 23<sup>rd</sup> April 2021 Friday at 03:14am </p> -->
                   <!-- <p style="text-align: center;">Venue:<em> Harayana Seva Sangh</em></p>                     -->
                  </div>
            </div>
        </div>
    </div>